body{
    background-color: #f3f3f3;
    margin-top: 55px;
}

/*nav bar*/
.navbar{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 1;
}

/*Background Colors*/
.background-grey{
    background-color: #ccd5e7;
}
.background-yellow{
    background-color: #D1913C;
}
.background-blue{
    background-color: #32b6db;
}
.background-green{
    background-color: #047c6c;
}